@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");



.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  background-color: #6fa00f;

}

.App-logo{
  z-index: 100;
}

.divider{
  width:10px;
  height:auto;
  display:inline-block;
}


.overlay{
  background: rgba(111, 160, 15, .2);
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.color-overlay{
  height: 100%;
  width: 100%;
  background: #6fa00f;
  opacity: .5;
  position: absolute;
}

h1{
  z-index: 12;
  font-family: 'Josefin Sans', sans-serif;
}

.nav-item{
  font-family: 'Josefin Sans', sans-serif;

}

.navbar-brand{
  font-family: 'Josefin Sans', sans-serif;

}


header2 {
  min-height: 100vh;
  background-color: #6fa00f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin); */
  color: white;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 4s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.formBackground{
  display: flex;
  flex-direction: column;
  background-color: #588008;
  border: double;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
}

.navbar{
  border-bottom: ridge;
  background-color: #8FCF13;
}



.muted{
  color: white;
  font-size: 14px;
  text-align: center;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.left{
  align-content:flex-start;
  width:25%;
}
.center{
    width:100%;
}

.sidebar{
  display: flex;
  flex-direction: column;
  background-color: #82857c;
  border: outset;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
}

.tablebg{
  background-color: white;
  border: groove;
}

.checked {
  color: orange;
}
