.App-header {
  background-color: #a4b63b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

header2 {
  background-color: #a4b63b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin); */
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 4s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.formBackground{
  display: flex;
  flex-direction: column;
  background-color: #6fa00f;
  border: double;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
}

.navbar{
  border-bottom: ridge;
}

.muted{
  color: white;
  font-size: 14px;
  text-align: center;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.left{
  align-content:flex-start;
  width:25%;
}
.center{
    width:100%;
}

.sidebar{
  display: flex;
  flex-direction: column;
  background-color: #8d9b72;
  border: outset;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
}

.tablebg{
  background-color: white;
  border: groove;
}

.checked {
  color: orange;
}