.view-foodtruck-style{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: none;

    background-color: #6fa00f;
    height: 100vh;
    gap: 50px;

}

.FoodTruck-info { 
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    text-align: center;
}

.view-foodtruck-buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    background-color: #588008;
    padding: 10px;
  }

  .reviewTable{
    padding: 10px;
    width: 50%;
  }